* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 1px;
}

.app-container {
  .container;
}

.view-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@block-cell-width = 50px;
@block-cell-height = 50px;
@block-cell-border-radius = 5px;
@block-cell-background-color = #BF0349;
@block-cell-gap = 10px;

.block-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: @block-cell-gap;
}

.block-cell {
  width: @block-cell-width;
  height: @block-cell-height;
  border-radius: @block-cell-border-radius;
  background-color: @block-cell-background-color;
  & + .block-cell {
    margin-left: @block-cell-gap;
  }
}

.view-main {}

.view-aside {
  margin-left: 50px;

  > header {
    width: 100%;
    h1 {
      text-align: left;
      padding-left: 10px;
    }
  }
}
